.bpw-layout{
    display: flex;
    height: auto;
    position: absolute;
    left: 20px;
    right: 30%;
    top: 90px;
    bottom: 20px;
    width: 70% !important;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content{
    background-color: #ff2628 !important;
}

.bpw-button{
    color: #ff2628 !important;
}

.bpw-header-icon, .bpw-header-title-container .bpw-bot-avatar{
    background: #ffffff !important;
    border: 1px solid #c3c3c3 !important;
    padding: 5px !important;
}
